<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voidcom.v_base">

    <application>
        <activity
            android:name=".ui.PermissionRequestActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:exported="true">
            <intent-filter>
                <action android:name="com.voidcom.v_base.requestPermission"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>